:root {
    --color-background: #F9FAEB;
    --color-primary: #679E67;
    --color-secondary: #45784A;
    --color-accent: #1D811D;
    --color-text: #12180C;
    --page-container-width: 1800px;
}

* {
    font-family: "Montserrat", sans-serif;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--color-background);
}

/*Logo*/
.navbar-logo {
    display: flex;
    gap: 5px;
}

.logo {
    width: 60px;
    fill: black;
    cursor: pointer;
}
.logo-name  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1em;
}

.background-video-container {
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Navbar*/
.navbar {
    display: flex;
    margin: 0px auto;
    padding: 64px;
    max-width: var(--page-container-width);
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: 18em;
    flex-shrink: 0;
    margin-left: 80px;
}

.navbar-link {
    transition: 0.3s;
}

.navbar-link:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/*Hero section*/
.hero {
    display: flex;
    width: 100vw;
    padding: 0 64px;
    max-width: var(--page-container-width);
}

.hero-block {
    color: white;
    margin: 25vh auto 5vh 0;
    cursor: default;
}

.hero-block-title {
    max-width: 30vh;
    font-size: 8vh;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: rgba(18, 24, 12, 0.651) 8px 10px 28px;
    margin: 0 126px 0 0;
}

.hero-block-text {
    font-weight: 500;
    font-size: 2vh;
    max-width: 900px;
    line-height: 1.5em;
    margin: 20px 200px 0 0;
}

.hero-cta {
    position: relative;
    margin-top: 2vh;
    border-style: none;
    border-radius: 5em;
    background-color: white;
    padding: .6em 1.2em;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

.hero-cta:hover {
    border-style: none;
    transform: translateY(-10px);
    transition: ease-in-out .3s;
    cursor: pointer;
}

/*Card section*/

.card-section {
    background-color: var(--color-background);
    text-align: center;
    padding: 140px 0 120px;
    margin: 0 64px;
    z-index: -1;
}

.card-section-title {
    cursor: default;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 50px 0;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 60px;
    opacity: 0.7;
}

.card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--page-container-width);
    margin: 0 auto;
    gap: 36px;
}

.card {
    cursor: pointer;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 30px;
    transition: 0.3s;
    border-radius: 30px;
    background: #efefef;
    border: none;
    color: #444;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                -6px -6px 10px rgba(255, 255, 255, .5),
                6px 6px 8px rgba(255, 255, 255, .075),
                6px 6px 10px rgba(0, 0, 0, .15);
  }

    .card:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1);
    transform: scale(0.98);
    background-color: #49b44933
    }
    .card:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
    transform: scale(0.98);
    background-color: #49b44933
    }

.card-text {
    font-weight: 300;
}

/*Quote section*/

.quote-section {
    text-align: center;
    background-image: linear-gradient(145deg, #151813, #252c1f);
    padding: 100px 0;
    transition: 0.8s;
    }

.quote-section:hover {
    filter: brightness(1.3) saturate(1.5) contrast(1.2);
    transition: 0.8s;
}

.quote-container {
    max-width: 60vw;
    margin: 0 auto;
}
.quote-text {
    color: white;
    font-style: italic;
    font-size: 28px;
    line-height: 1.5em;
    text-align: left
}

.quote-author-container {
    max-width: 60vw;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

/*CTA banner section*/

.cta-banner {
    display: flex;
}

/*Footer*/